import { defineConfig } from 'vite';
import react from '@vitejs/plugin-react';

const rawBase = '{{base_path}}';
const base = rawBase === '/' ? '/' : `${rawBase.replace(/\/+$/, '')}/`;

export default defineConfig({
  plugins: [react()],
  base,
});
